/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #FFFFFF;
  background-image: none;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 800px;
  margin: 25px auto;
  min-height: 100%;
  background: white;
}

header {
    background: #f5f5f5;
    border-bottom: #e5e5e5 solid 1px;
    /* background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%); */
    padding: 0px 15px 0px 15px;
    position: relative;
    width: 100%;
	height:50px;
}

header .user_email {
	float:right;	
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  /*padding: 15px;*/
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: #eee solid 0px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

ul.byhour {

}

ul.byhour li {
float:left;
display:inline;
width:200px;
padding-bottom:10px;
border:#e5e5e5 solid 1px;
margin: 0px 10px 25px 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow:    0px 3px 5px 3px #e5e5e5;
-webkit-box-shadow: 0px 3px 5px 3px #e5e5e5;
box-shadow:         0px 3px 5px 3px #e5e5e5;
}

ul.time_slots {
padding-bottom:0px;
margin-left:0;
padding:0;
}

ul.time_slots li {
margin-bottom:10px;
border:0px;
margin-left:0;
padding:0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}


header .hide-completed {
  float:right;
}

.toggle-private {
  margin-left: 5px;
}

.btn-success {
	background:url(http://clientdesigns.itswebs.com/smithbucklin/checkmark.png) no-repeat #59b359 6px;
}

.btn-success:hover {
	background:url(http://clientdesigns.itswebs.com/smithbucklin/checkmark.png) no-repeat #59b359 6px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
